Binaries
DerivedDataCache
Intermediate
Saved
Content/InfinityBladeGrassLands
Content/InfinityBladeIceLands
Content/StarterContent
Build
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace